img {
  max-width: none;
  max-height: none;
  width: 100%;
  height: auto;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  line-height: 1;
}

main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:hover {
  text-decoration: none;
}

a, span {
  color: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sup {
  vertical-align: super;
}

.l-contents {
  padding: 0 20px;
  background: #000;
  color: #ff0;
}

@media (min-width: 1024px) {
  .l-contents {
    width: 1280px;
    margin: 0 auto;
    padding: 0;
  }
  .l-contents:after {
    content: '';
    display: block;
    clear: both;
  }
}

.l-footer {
  border-top: 1px solid #ccc;
  padding: 20px 0 20px;
}

@media (min-width: 1024px) {
  .l-footer {
    position: relative;
  }
}

.l-header {
  position: relative;
  z-index: 3;
  padding: 20px 0;
}

.l-navi {
  display: none;
  border-top: 1px solid #dcdcdc;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
  padding: 0 0 100px;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 1024px) {
  .l-navi {
    width: 780px;
    display: block !important;
    left: auto;
    right: -780px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0 100px 150px 0;
    border-top: none;
  }
}

@media (min-width: 1024px) {
  .l-navi.is-open {
    right: 0;
  }
}

.l-navi__ttl {
  border-bottom: 1px solid #333333;
  padding: 30px 20px 14px;
  font-size: 2.4rem;
  line-height: 1;
}

@media (min-width: 1024px) {
  .l-navi__ttl {
    padding: 60px 0 30px 70px;
    font-size: 2.6rem;
  }
}

.l-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .l-wrap {
    min-width: 1400px;
    margin: 0 auto;
  }
}

.c-grid-4 {
  background-color: #00f;
  color: #6BC9FF;
}

@media (min-width: 640px) {
  .c-grid-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .c-grid-4 .item {
    width: calc((100% - 15px) / 2);
  }
}

@media (min-width: 1024px) {
  .c-grid-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .c-grid-4 .item {
    width: calc((100% - 45px) / 4);
  }
}

.u-align--left {
  text-align: left;
}

.u-align--center {
  text-align: center;
}

.u-align--right {
  text-align: right;
}

.u-font--bold {
  font-weight: bold;
}

.u-font--red {
  color: #cc0000;
}

.u-font--align-right {
  text-align: right;
}

.u-font--small {
  font-size: 0.9em;
}

.u-font--underline {
  text-decoration: underline;
}

.u-link--pdf {
  background-image: url("/ja/assets/img/icon_pdf.gif");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 20px;
  margin-right: 5px;
}

.u-link--blank {
  background-image: url("/ja/assets/img/icon_window.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 20px;
  margin-right: 5px;
}

.u-link--right {
  padding: 0 0 0 25px;
  background: url("../img/icon_arrow_right.png") no-repeat left center;
  background-size: 15px;
}

@media (min-width: 1024px) {
  .u-link--right {
    padding: 0 0 0 30px;
    background-size: 18px;
  }
}

.u-link--down {
  padding: 0 0 0 25px;
  background: url("../img/icon_arrow_down.png") no-repeat left center;
  background-size: 15px;
}

@media (min-width: 1024px) {
  .u-link--down {
    padding: 0 0 0 30px;
    background-size: 18px;
  }
}

.u-link--up {
  padding: 0 0 0 25px;
  background: url("../img/icon_arrow_up.png") no-repeat left center;
  background-size: 15px;
}

@media (min-width: 1024px) {
  .u-link--up {
    padding: 0 0 0 30px;
    background-size: 18px;
  }
}

.u-show--sp {
  display: block;
}

@media (min-width: 1024px) {
  .u-show--sp {
    display: none;
  }
}

.u-show--pc {
  display: none;
}

@media (min-width: 1024px) {
  .u-show--pc {
    display: block;
  }
}

.u-typo--lv1 {
  font-size: 3.2rem;
}

.u-typo--lv2 {
  font-size: 2.6rem;
}

.u-typo--lv3 {
  font-size: 2.4rem;
}

.u-typo--lv4 {
  font-size: 2.0rem;
}

.u-typo--lv5 {
  font-size: 1.8rem;
}

.u-typo--lv6 {
  font-size: 1.6rem;
}

/*# sourceMappingURL=../map/style.css.map */
