.u-font--bold{
  font-weight: bold;
}

.u-font--red{
  color: #cc0000;
}

// .u-font--blue{
//   color: $color-blue;
// }

.u-font--align-right{
  text-align: right;
}

.u-font--small{
  font-size: 0.9em;
}

.u-font--underline{
  text-decoration: underline;
}
