doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width,user-scalable=yes,initial-scale=1.0")
    meta(name="format-detection", content="telephone=no")

    title TOPPAGE | SAMPLE

    link(rel="stylesheet" href="/css/style.css")

    block singleCSS

  body
    //start main
    main
      div.l-contents
        p contents
        //- div.c-grid-4n
        //-   .item item
        //-   .item item
        //-   .item item
        //-   .item item
        //-   .item item
        //-   .item item
        //-   .item item
        //-   .item item



    //end main


